body{
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: Arial;
  margin: 0;
  background-color: #eaeaea;
}

.app{
  margin: 0 auto;
  position: relative;
  width: 90%;
  margin-top: 20px;
  /* background-color: white; */
  height: 630px;
}
.picture-container{
  margin: 0 auto;
  /* background-color: black; */
  position: relative;
  width: 100px;
}
.profile-picture{
  border-radius: 50px;
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100px;
}
.name{
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
.title{
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}
.link-container{
  margin-top: 50px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 15px 15px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50px;

}
a:hover{
  background-color: black;
  color: white;
  transition: all 0.8s ease-in-out;
}